.ioinfobox_container {
    border: 1px solid;
}

.ioinfobox_input {
    background-color: #b9c2a8
}

.ioinfobox_meta {
    background-color: #a4c567
}

.ioinfobox_output {
    background-color: #99ca3c
}