table.kvt {
  border-collapse: collapse;
  border-radius: 1em;
  box-shadow: 0 0 0 2px #85878c;
}
table.kvt tr.inner {
  border-bottom: 1pt solid #85878c;
  padding-top: 1em;
  padding-bottom: 1em;
}
table.kvt td, th {
  padding-top: 1em;
  padding-bottom: 1em;
}
table.kvt td.key {
  padding-left: 1em;
  padding-right: 1em;
  text-align: right;
  color: #58585a;
}
table.kvt td.value {
  padding-left: 1em;
  padding-right: 1em;
}
.kvt-title {
  font-size: 1.1em;
  border-top: 2px solid #85878c;
  border-left: 2px solid #85878c;
  border-right: 2px solid #85878c;
  border-top-left-radius: 1em;
  border-top-right-radius: 1em;
  padding-left: 1em;
  padding-right: 1em;
  padding-top: 0.1em;
}